.messages{
  margin-left: 15px;
  flex-direction: column;
  border: 1px solid #FFF4;
  padding: 10px;
  flex: 1;
  border-radius: 20px;

  &:nth-child(1){
    margin-top: 10px;
  }
}

.messageUser{
  margin-top: 16px;
  margin-left: 15px;
  display: flex;
  align-items: center;

  .userImage{
    padding: 2px;
    background: linear-gradient(
      100deg, 
      #FF008E 0.48%,
      #FFCD1E 100%
    );
    border-radius: 50%;
    line-height: 0;

    img{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid #121214;
    }
  }

  span{
    font-size: 16px;
    margin-left: 10px;
  }
}

.messageList{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22px;
  // flex: 1;
}

button{
  background: #FF008E;
  margin-left: 650px;
  margin-top: 15px;
  padding: 0 32px;
  height: 40px;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  align-self: flex-end;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    filter: brightness(0.9);
  }
}

.messageContent{
  margin-left: 10px;
}