.currentNavbar{
    display: flex;
    width: 157%;
    height: 6vh;
    background: #121214;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-top: 5px;
}

.logoDowhile{
  height: 28px;
  width: 258px;
  margin-left: 15px;
}

.userName{
  margin-left: 535px;
  margin-right: 20px;
}

.imgUser{
  height: 28px;
  width: 28px;
  border-radius: 50%;
}